.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-container {
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    padding: 30px;
    color: #fff ;
    box-shadow: 0px 4px 10px rgba(255, 254, 254, 0.347);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}       

h2 {
    font-family: oswald;
    margin-bottom: 20px;
    font-size: 3rem;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #45a049;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    font-size: 12px;
    color: #555;
    text-decoration: none;
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    font-size: 14px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }

    .login-btn {
        padding: 12px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .input-group label, 
    .forgot-password a, 
    .signup-link p {
        font-size: 12px;
    }

    .login-btn {
        font-size: 14px;
    }

    input[type="email"],
    input[type="password"] {
        padding: 8px;
        font-size: 12px;
    }
}
